@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.counter-wrapper {
	margin-left: 20px;
	font-family: monospace;
}

.counter-title {
	color: white;
  font-family: 'Ubuntu Mono', monospace;
}

.counter-row {
  color: #7867c6;
}