.file-upload-input {
  font-family: 'Roboto',sans-serif;;
}

.top-button-wrapper {
	display: flex;
}

.control-buttons {
  margin:0 0.2em 0 0.2em;
  border:0.16em solid #683aff;
  background-color: #683aff;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  text-transform: none;
  font-family: 'Roboto',sans-serif;;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  outline: none;
}

.control-buttons:hover {
  background-color: #9575ff;
  border-color: #9575ff;
}

.control-buttons:disabled  {
  background-color: #96b1e0;
  border-color: #96b1e0;
}

.regular-buttons {
  margin:0 0.2em 0 0.2em;
  border:0.16em solid #fa00ff;
  background-color: #fa00ff;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  text-transform: none;
  font-family: 'Roboto',sans-serif;;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  outline: none;
}

.custom-select {
  font-family: 'Roboto',sans-serif;;
  background-color: #683aff;
  color: white;
  border-radius:2em;
  outline: none;
  margin:0 0.2em 0 0.2em;
  border:0.16em solid #683aff;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline;
}

.upload-btn {
  font-family: 'Roboto',sans-serif;;
  background-color: #ffa93a;
  color: white;
  border-radius:2em;
  outline: none;
  border:0.16em solid #ffa93a;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  width: 110px;
  overflow: hidden;
}

.upload-btn-wrapper input[type=file] {
  font-size: 10px;
  width: 110px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}