.file-upload-button {
  border: none;
  font-family: monospace;
}

.file-upload-input {
  font-family: monospace;
}

.top-button-wrapper {
	display: flex;
}

.buttons {
  margin:0 0.2em 0 0.2em;
  border:0.16em solid #568cea;
  background-color: #568cea;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: monospace;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  outline: none;
}

.buttons:hover {
  background-color: #96b1e0;
  border-color: #96b1e0;
}

.buttons:disabled  {
  background-color: #abbfc6;
  border-color: #abbfc6;
}