@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=VT323&display=swap');

body.home {
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-wrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60%;
}

.button-elements {
  padding-top: 20px;
  text-align: center;
}

.buttons {
  border: 0.16em solid #7344ff;
  padding: 0.35em 1.2em;
  margin: 15px 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 20px;
  font-weight: 400;
  color: #7344ff;
  text-align: center;
  transition: all 0.15s;
  background-color: transparent;
  cursor: pointer;
}

.buttons:hover {
  color: #f67cff;
  border-color: #f67cff;
} 

input[type='checkbox'] {
  display: none;
}

.label-element {
  display: block;
  font-weight: bold;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  color: #48ff00;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
  outline: none;
}

.label-element:hover {
  color: #40d690;
}

.label-element::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: max-height 0.2s ease-in;
  max-width: 100%;
}

.collapsible-content::-webkit-scrollbar {
  width: 5px;
}

.collapsible-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(192,192,192,0.3);
  border-radius: 10px;
}
 
.collapsible-content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: white; 
  -webkit-box-shadow: inset 0 0 6px rgba(192,192,192,0.3); 
}

.collapsible-content::-webkit-scrollbar-thumb:window-inactive {
  background: white; 
}

.toggle:checked + .label-element + .collapsible-content {
  max-height: 500px;
}

.toggle:checked + .label-element::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .label-element {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.homepage-title {
  font-size: 15vh;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.paragraph-txt {
  color: white;
  font-family: 'Quicksand',sans-serif;
  text-align: left;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}

a {
  color: #00ffe1;
}

a:hover {
  color: #56b3ff;
}

.p-title {
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #2c20b2;
}

.p-li {
  float: left;
  margin: 10px;
}

.instruction-img-left {
  float: left;
  border-radius: 10px;
  margin-right: 10px;
  max-width: 100px;
}

.instruction-img-center-small {
  border-radius: 10px;
  width: 200px;
}

.instruction-img-center-big {
  border-radius: 10px;
  max-width: 100%;
  text-align: center
}

.inner-p-div {
  background-color: #ceb5ff;
  border-radius: 10px;
  margin: 10px;
  padding: 1%;
  text-align: left;
}

.inner-div-paragraph-txt {
  color: #2c20b2;
  font-family: 'Quicksand',sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 100%;
}

.inner-p-div-child {
  display: inline-block;
}

b {
  font-weight: 700;
}
