body.home {
  background-color: black;
}

.main-wrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.button-elements {
  padding-top: 20px;
}

.buttons {
  border: 0.16em solid #7344ff;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #7344ff;
  text-align: center;
  transition: all 0.15s;
  background-color: transparent;
} 

.buttons:hover {
  color: #f67cff;
  border-color: #f67cff;
} 

h1 {
  font-size: 10vh;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  margin-bottom: 0;
  color: white;
}

h3 {
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  color: white;
}

.bot-wrapper {
  position: relative;
  min-height: 150px;
}

.contact {
  position: absolute;
  bottom: 0;
  left: 50%;
}