<div class="main-wrapper">
  <div class="buttons-wrapper">
    <div class="button-elements">
      <h1 class="homepage-title">LY86-64</h1>
      <div class="collabsible-wrapper">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="label-element" tabindex="0">ABOUT</label>
        <div class="collapsible-content" style="overflow-y: hidden;">
          <p class="paragraph-txt">The LY86-64 ("lee 86-64") is a browser-based simulator developed to help students visualize the Y86-64 machine.
          </p>

          <p class="paragraph-txt">Although inspired by other Y86-64 simulators, the LY86-64 was designed to provide a visualization of the control logic and signals, specifically stalling and bubbling.
          </p>

          <p class="paragraph-txt">This is a senior thesis project built by <a href="https://www.chaulyjenny.com" target="_blank">Jenny Ly</a> from <a href="https://www.appstate.edu/" target="_blank">Appalachian State University</a></p>

          <p class="paragraph-txt">Special thanks to Dr. Cindy Norris.</p>
        </div>
        <input id="collapsible2" class="toggle" type="checkbox">
        <label for="collapsible2" class="label-element" tabindex="1">INSTRUCTIONS</label>
        <div class="collapsible-content">
          <div class="inner-p-div">
            <p class="p-title">RECOMMENDATIONS</p>
            <div class="inner-p-div-child">
              <!-- <p class="inner-div-paragraph-txt">
                While the LY86-64 works on any browsers, it is recommended to use Chrome for the best experience.
              </p> -->
              <p class="inner-div-paragraph-txt"> We recommend your browser size is at least 544x807.
              </p>
            </div>
          </div>

          <p class="paragraph-txt">
            The LY86-64 focuses on the visualization aspect of the control logic and signals.  Before using the simulator, please read through the <span style="color: #ff5000;">documentation</span> below for an explanation of the features and colors that are used to illustrate the control logic. 
          </p>

          <div class="inner-p-div">
            <p class="p-title">DROPDOWN</p>
            <div class="inner-p-div-child">
              <img src="assets/instructions/dropdown.png" class="instruction-img-left">
              <p class="inner-div-paragraph-txt">
                The dropdown presents several options:
                <li><b>Custom files</b>: Upload your own .yo file. Currently our simulator does not check for errors within your custom files, so please be sure to upload a valid .yo file.</li>
                <li><b>"jl", "jecall", and "loaduse"</b>: Sample files already loaded into the simulator. Selecting these options will not require you to upload anything to use our simulator.</li>
              </p>
            </div>
          </div>

          <div class="inner-p-div">
            <p class="p-title">CONTROL BUTTONS</p>
            <div class="inner-p-div-child">
              <img src="assets/instructions/control_buttons.png" class="instruction-img-center-small">
              <p class="inner-div-paragraph-txt">     
                The control buttons allow you to control the simulator.            
                <li><b>Continue</b>: Execute the instructions until the halt instruction reaches the writeback stage.</li>
                <li><b>Step</b>: Execute a single instruction.</li>
                <li><b>Reset</b>: Reset the simulator back to the first instruction.</li>
              </p>
            </div>
          </div>

          <div class="inner-p-div">
            <p class="p-title">CODE BLOCK</p>
            <div class="inner-p-div-child">
              <img src="assets/instructions/code.png" class="instruction-img-center-big">
              <p class="inner-div-paragraph-txt">
                As you step through the instructions, typically, the line highlighted is the instruction that is in the D register. 
                <li>If the instruction is colored <span style="background-color: #c156ff; color: white;">purple</span> then the instruction in the D register was chosen by selectPC.</li>
                <li>If the instruction is colored <span style="background-color: #f77d36; color: #18133f;">orange</span> then the D register was bubbled.</li>
                <li>If the instruction is colored <span style="background-color: #FFBF00; color: #18133f;">yellow</span> then the instruction is in the D register for a second cycle because the D register was stalled.</li>
              </p>
            </div>
          </div>

          <div class="inner-p-div">
            <p class="p-title">CONTROL LOGIC</p>
            <div class="inner-p-div-child">
              <img src="assets/instructions/control_logic.png" class="instruction-img-center-big">
              <p class="inner-div-paragraph-txt">
                The control logic component is designed to help the user understand why a certain register was <span style="background-color: #FFBF00; color: #18133f;">stalled</span> or <span style="background-color: #f77d36; color: #18133f;">bubbled</span>.

              </p>
            </div>
          </div>

          <div class="inner-p-div">
            <p class="p-title">PIPELINE REGISTERS</p>
            <div class="inner-p-div-child">
              <img src="assets/instructions/pipeline.png" class="instruction-img-center-big">
              <p class="inner-div-paragraph-txt">
               The text next to the register name, for example, <b>F (STALL)</b>, indicates the control signal that was applied to the pipe register at the end of the current clock cycle.  In addition, colors are used in the following way:
                <li><span style="background-color: #02d199; color: #18133f;">Green</span> for when the <span style="background-color: #02d199; color: #18133f;">normal</span> singal was applied. In this case, the pipeline register stored the value of its input.</li>
                <li><span style="background-color: #f7c336; color: #18133f;">Yellow</span> for when the <span style="background-color: #f7c336; color: #18133f;">stall</span> signal was applied. In this case, the pipeline register ignored the input and maintained the same value.</li>
                <li><span style="background-color: #f77d36; color: #18133f;">Orange</span> for when the <span style="background-color: #f77d36; color: #18133f;">bubble</span> signal was applied. In this case, the pipeline register was set to a nop.</li>
              </p>
            </div>
          </div>

          <div class="inner-p-div">
            <p class="p-title">OTHER ELEMENTS</p>
            <div class="inner-p-div-child">
              <img src="assets/instructions/misc.png" class="instruction-img-center-small">
              <p class="inner-div-paragraph-txt">
                <li><b>Registers:</b> Shows the state of the registers during the simulation. Registers are displayed from register 0 (%rax) to register 15 (%r14).</li>
                <li><b>Control flags:</b> OF is the overflow flag. SF is the sign flag. ZF is the zero flag. The flags are set to 0 or 1 when an OPQ instruction is in the execute stage based upon the result of the arithmetic instruction.</li>
              </p>
            </div>
          </div>

        </div>
      </div>

      <button [routerLink]="'/simulator'" class="buttons">Access the Simulator</button>
    </div>
  </div>
</div>