<div class="wrapper">
  <div class="buttons-wrapper">
    <div class="button-elements">
      <h1>Sample .yo files</h1>
      <a href="assets/sample/yo_files/loaduse1.yo" download><button class="buttons">loaduse1.yo</button></a>
      <a href="assets/sample/yo_files/je.yo" download><button class="buttons">je.yo</button></a>
      <a href="assets/sample/yo_files/jecall.yo" download><button class="buttons">jecall.yo</button></a>
      <a href="assets/sample/yo_files/jg.yo" download><button class="buttons">jg.yo</button></a>
      <a href="assets/sample/yo_files/jge.yo" download><button class="buttons">jge.yo</button></a>
    </div>
    <div class="button-elements">
      <h1>Ready to use the LY86-64?</h1>
      <button [routerLink]="'/simulator'" class="buttons">Access the Simulator</button>
    </div>
  </div>
</div>