@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.condition-flags-wrapper {
	margin-bottom: 1%;
	margin-top: 1%;
	margin-left: 2%;
  font-size: 1.6vh;
  font-family: monospace;
}

.title {
  color: white;
  font-family: 'Ubuntu Mono', monospace;
}

.value {
  color: #7867c6;
}
