@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.condition-flags-wrapper {
  margin-top: 1%;
  margin-left: 1vw;
  font-family: monospace;
  font-size: 15px;
}

.title {
  color: white;
  font-family: 'Ubuntu Mono', monospace;
}

.value {
  color: #7867c6;
}
