.register-table-wrapper {
	font-family: monospace;
	margin-top: 5%;
	margin-left: 2%;
	margin-bottom: 2%;
	margin-right: 0;
	width: 60%;
	font-size: 15px;
}

.registers-title {
	color: white;
	padding-right: 10px;
	text-align: left;
}

.registers-value {
	padding-right: 10px;
	text-align: left;
	color: #7867c6;
}