@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.register-table-wrapper {
	margin-top: 5%;
	margin-left: 1vw;
	margin-bottom: 2%;
	margin-right: 0;
	width: 60%;
	font-size: 1.8vh;
}

.registers-title {
	font-family: 'Ubuntu Mono', monospace;
	color: white;
	padding-right: 10px;
	text-align: left;
	font-size: 2vh;
}

.registers-value {
	font-family: monospace;
	padding-right: 10px;
	text-align: left;
	color: #7867c6;
}