.wrapper {
	margin-top: 1%;
	margin-left: 2%;
	width: 50%;
	height: 15%;
	border: 2px dotted black;
	border-radius: 5px;
	font-family: monospace;
	overflow: scroll;
	/*background-color: blue;*/
}

.logic {
	margin: 1%;
	word-wrap: normal;
}