.wrapper::-webkit-scrollbar {
  display: none;
}

.f-logic {
	margin: 1%;
	word-wrap: normal;
	color: #f7b613;
}

.d-stall-logic {
	margin: 1%;
	word-wrap: normal;
	color: #f7b613;
}

.d-bubble-logic {
	margin: 1%;
	word-wrap: normal;
	color: #f77d36;
}

.e-logic {
	margin: 1%;
	word-wrap: normal;
	color: #f77d36;
}

.m-logic {
	margin: 1%;
	word-wrap: normal;
	color: #f77d36;
}

@media screen and (max-width: 928px) {
	.wrapper {
		height: 20%;
		margin-top: 1%;
		margin-left: 2%;
		width: 90%;
		border: 2px solid #5b5b5b;
		border-radius: 5px;
		font-family: monospace;
		overflow: scroll;
	}
}

@media screen and (min-width: 929px) and (max-width: 1045px) {
	.wrapper {
		height: 19%;
		margin-top: 1%;
		margin-left: 2%;
		width: 90%;
		border: 2px solid #5b5b5b;
		border-radius: 5px;
		font-family: monospace;
		overflow: scroll;
	}
}

@media screen and (min-width: 1046px) {
	.wrapper {
		height: 15%;
		margin-top: 1%;
		margin-left: 2%;
		width: 90%;
		border: 2px solid #5b5b5b;
		border-radius: 5px;
		font-family: monospace;
		overflow: scroll;
	}
}

