.file-content-wrapper {
	margin-top: 0.5vh;
	width: 100%;
	height: 55vh;
	overflow: scroll;
	border: 2px solid #5b5b5b;
	border-radius: 5px;
}

.file-content-wrapper::-webkit-scrollbar {
  display: none;
}

.file-content .not-current {
	font-family: monospace;
	margin: 0;
	white-space: pre;
}

.current-normal {
	background-color: #46ce7c;
	color: white;
	margin: 0;
}

.current-stalled {
	background-color: #f7c336;
	color: white;
	margin: 0;
}

@media screen and (max-width: 928px) {
	.file-content-wrapper {
		margin-top: 0.5vh;
		width: 100%;
		height: 53.5vh;
		overflow: scroll;
		border: 2px solid #5b5b5b;
		border-radius: 5px;
	}
}

@media screen and (min-width: 929px) and (max-width: 1045px) {
	.file-content-wrapper {
		margin-top: 0.5vh;
		width: 100%;
		height: 54vh;
		overflow: scroll;
		border: 2px solid #5b5b5b;
		border-radius: 5px;
	}
}

@media screen and (min-width: 1046px) {
	.file-content-wrapper {
		margin-top: 0.5vh;
		width: 100%;
		height: 55vh;
		overflow: scroll;
		border: 2px solid #5b5b5b;
		border-radius: 5px;
	}
}

