.file-content-wrapper {
	margin-top: 0.5vh;
	width: 100%;
	overflow: scroll;
	border: 2px solid #3c2e82;
	border-radius: 5px;
	color: #7867c6;
	font-size: 15px;
}

.file-content-wrapper::-webkit-scrollbar {
  display: none;
}

.file-content .not-current {
	font-family: monospace;
	margin: 0;
	white-space: pre;
}

.current-normal {
	background-color: #c156ff;
	color: white;
	margin: 0;
}

.current-stalled {
	background-color: #ffbf00;
	color: #18133f;
	margin: 0;
}

@media screen and (max-width: 928px) {
	.file-content-wrapper {
		height: 53.5vh;
	}
}

@media screen and (min-width: 929px) and (max-width: 1045px) {
	.file-content-wrapper {
		height: 54vh;
	}
}

@media screen and (min-width: 1046px) {
	.file-content-wrapper {
		height: 55vh;
	}
}

