.file-content-wrapper {
	margin-top: 0.5vh;
	width: 100%;
	height: 55vh;
	overflow: scroll;
	border: 2px dotted black;
	border-radius: 5px;
}

.file-content-wrapper::-webkit-scrollbar {
  display: none;
}

.file-content .not-current {
	font-family: monospace;
	margin: 0;
	white-space: pre;
}

.current {
	background-color: black;
	color: white;
	margin: 0;
}

