.container {
  max-height: 100vh;
  margin: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.right {
  width: 50%;
  height: 60vh;
  /*background-color: blue;*/
}

.left {
  width: 50%;
  height: 60vh;
  /*background-color: red;*/
}

.bottom {
  width: 100%;
  height: 35vh;
  /*background-color: green;*/
}