body.simulator {
  background-color: #18133f;
}

.container {
  max-height: 100vh;
  margin: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.right {
  width: 40%;
  height: 60vh;
}

.left {
  width: 60%;
  height: 60vh;
}

.bottom {
  width: 100%;
  height: 35vh;
}